$maincolor:#67bbaf;
.login{
    .card{
        background-color: #252627;
        opacity: 0.5;
        margin: auto;
        padding: 2%;
    border-radius: 12px;
    margin-top: 10%;
  
    h3,h6{
        text-align: center;
    }
        h3,h6,label{
            color:$maincolor
        }

        input{
            background-color: #a7a49e;
              color:black;
             border: 1px solid #a7a49e;
        }
        button{
            color:$maincolor;
            border-color: $maincolor;
            margin: auto;
            width: 70%;
        }
        button:hover{
            color:$maincolor !important;
            border-color: $maincolor !important;
        }
        .email{
            position: relative;
        }
        .emailIcon{
            position: absolute;
            right: 10%;
             top: 28%;
        }
        .password{
            @extend .email
        }
        .passwordIcon{
            @extend .emailIcon;
            top: 50%;
        }
        a{
            color:$maincolor
        }
    }
    @media screen and (max-width: 768px) {
        .card{
            margin-right: 5%;
            margin-left: 5%;
            margin-top: 5%;
        }
        
    }
}
.error{
    color:red
}