.login .card {
  background-color: #252627;
  opacity: 0.5;
  margin: auto;
  padding: 2%;
  border-radius: 12px;
  margin-top: 4%;
}

.login .card h3, .login .card h6 {
  text-align: center;
}

.login .card h3, .login .card h6, .login .card label {
  color: #67bbaf;
}

.login .card input {
  background-color: #a7a49e;
  color: black;
  border: 1px solid #a7a49e;
}

.login .card button {
  color: #67bbaf;
  border-color: #67bbaf;
  margin: auto;
  width: 70%;
}

.login .card button:hover {
  color: #67bbaf !important;
  border-color: #67bbaf !important;
}

.login .card .email, .login .card .password {
  position: relative;
}

.login .card .emailIcon, .login .card .passwordIcon {
  position: absolute;
  right: 10%;
  top: 28%;
}

.login .card .passwordIcon {
  top: 50%;
}

.login .card a {
  color: #67bbaf;
}

@media screen and (max-width: 768px) {
  .login .card {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
  }
}

.error {
  color: red;
}

.allUsers table {
  margin-top: 10%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 9999;
  padding: 2%;
  box-shadow: 0px 10px #f9f9f9;
}

.content {
  width: 100% !important;
}

.list {
  display: inline-block;
  text-decoration: none;
  color: #25262a;
  margin-right: 30px;
  font-size: 18px;
}

.list a {
  text-decoration: none;
  color: #25262a;
}

.list a:hover {
  color: #75b239 !important;
}

.text {
  font-size: 20px;
  font-weight: 600;
  color: #75b239 !important;
}

.text2 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.textcolor {
  color: #75b239 !important;
}

.textfont {
  font-size: 20px;
}

.menu {
  display: none;
}

@media only screen and (max-width: 763px) {
  .list a {
    display: none;
  }
  .icon {
    display: none;
  }
  .navbar {
    height: 60px;
  }
  .text {
    display: block;
    float: left;
    font-size: 23px;
  }
  .text2 {
    font-size: 23px;
  }
  .menu {
    display: unset;
    float: right;
    font-size: 23px;
    margin-top: 5px;
    color: #75b239;
  }
}
